*{
    margin: 0;
    padding: 0;
}
html, body {height:100%;}
#informacao{
    height: 600px;
}

.tela-cheia{
    height: 100%;
    width: 100%;
}

.uniso-bg{
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
}

/* Utilidades */
.big-icon{
    font-size: 2rem;
}

.text-orange{
    color: #ff991b;
}

.bg-y{
    background-color: #fbdd06;
}


/* Nav */
.nav li{
    margin-bottom: 10px;
}

.nav a{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ecf0f1;
    text-decoration: none;
}

.nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #007bff;
    transition: width .3s;
}

.nav a:hover{
    color: #ecf0f1;
}

.nav a:hover::after {
    width: 100%;
}
/* Tela Inicial */
.btn-outline-purple{
    font-weight: bold;
    color: rgb(235, 43, 139);
    padding: 10px;
    border: rgb(235, 43, 139) solid 3px;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}
.btn-outline-purple:hover{
    color: white;
    font-weight: bold;
    padding: 10px;
    outline: none;
    text-decoration: none;
    background-color: rgb(235, 43, 139);
}
/* Menu de Acessibilidade */
#skip-content a{
    position: absolute;
    top: -5em;
    color: #ecf0f1;
    padding: 1rem;
}

#skip-content a:focus{
    top: 0;
}
/* Cursos */
#cursos{
    margin-top: 40px;
    margin-bottom: 40px;
}
/* Infra */
#infra .card{
    margin:50px 0px;
}
/* Contato */
#contato{
    margin-top: 20px;
    margin-bottom: 20px;
}